body {
	background: #000;
	font-family: monospace;
	font-size: 12px;
	color: #0a0;
	max-width: 650px;
	margin-left: 2px;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	font-weight: bold;
	color: #0d0;
}

.indent {
	padding-left: 20px;
}

.api_container {
	margin-bottom: 5px;
	margin-top: 15px;
	div {
		margin-top: 5px;
	}
}

span.highlight {
	padding: 4px 4px 4px 4px;
	color: #0f0;
}

.symbols {
	max-width: 550px;
	overflow-wrap: anywhere;
}

.tlabel {
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
}

.game_won, .game_true {
	color: #0f0;
}

.game_lost, .game_false, .rejected {
	color: #f00;
}

.game_running {
	color: #00f;
}

.goal_op {
	font-weight: bold;
	color: #a0a;
}

.goal_attr, .accepted {
	color: #0aa;
}

.goal_const {
	color: #ccc;
}

.goal_result {
	font-weight: bold;
}
